<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>gDocs viewer.</title>

    {% load staticfiles %}
    <!-- Bootstrap -->
    <link href="{% static "gdocs/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "gdocs/css/styles.css" %}" rel="stylesheet">
</head>
<body>

{% block page %}
    {% block content %}
    {% endblock %}
{% endblock %}
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="{% static "gdocs/js/script.js" %}" type="text/javascript"></script>
</body>
</html>