{% extends "gdocs/base.html" %}
{% block content%}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
            {% if document_list %}
                <table class='table'>
                    <tr>
                        <th>#</th>
                        <th></th>
                        <th></th>
                        <th>Name</th>
                        <th></th>
                        <th>Url</th>
                    </tr>
                {% for document in document_list %}
                    <tr>
                        <td width="2%">{{ forloop.counter }} </td>
                        <td width="2%">
                            <a href="{% url 'gdocs:remove' document.id%}" title="Remove">
                              <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                            </a>
                        </td>
                        <td width="2%">
                            {% if user in document.users.select_related  %}
                            <a href="{% url 'gdocs:edit' document.id %}" title="Edit">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                            {% endif %}
                        </td>
                        <td width="20%">{{ document.name }}</td>
                        <td width="5%">{% if user in document.users.select_related  %} <small class="small"><em>accessible</em></small>{% endif %}</td>
                        <td width="70%"><a href="{{ document.url }}">{{ document.url }}</a></td>
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                <h2>No documents available yet.</h2>
            {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <a class="btn btn-default" href="{% url 'gdocs:new' %}" role="button">Add</a>
            </div>
            <div class="col-md-1 col-md-offset-6">
                <a class="btn btn-default" href="{% url 'gdocs:logout' %}" role="button">Logout</a>
            </div>
        </div>
    </div>
{% endblock %}