{% extends "gdocs/base.html" %}
{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-md-offset-3">
            <h2>Sign in</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-3">
            {% if form.errors %}
            <p>Неверное имя пользователя или пароль. Пожалуйста, попробуйте еще раз.</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-3">
            <form method="post" class="form-horizontal" action="{% url 'django.contrib.auth.views.login' %}">
                {% csrf_token %}
                <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
                </table>

                <input type="submit" class="btn btn-default" value="login" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
</div>
{% endblock %}