{% extends "gdocs/base.html" %}
{% block content %}
<form class="form-horizontal" action="{{ request.path }}" method="post">
    {% csrf_token %}
    <div class="row"><div class="col-md-7 col-md-offset-3"><h2>Введите информацию о документе</h2></div></div>
    {% if formset.non_form_errors %}
    <div class="form-group has-error">
        <div class="col-md-7 col-md-offset-3 control-label field-error">
            {{ formset.non_form_errors }}
        </div>
    </div>
    {% endif %}
    {% if form.name.errors %}
    <div class="form-group has-error">
        <div class="col-md-2 col-md-offset-3 control-label field-error">
            {{ form.name.errors.as_text }}
        </div>
    </div>
    {% endif %}
    <div class="form-group">
        <label for="name" class="col-md-1 col-md-offset-2 control-label">{{ form.name.label }}</label>
        <div class="col-md-7">
            {{ form.name }}
        </div>
    </div>
    {{ form.id }}
    {{ form.DELETE }}

    {{formset.management_form}}
    {% for permission_form in formset %}
    <div class="form-group" id="user{{forloop.counter}}">
        <label for="user1" class="col-md-1 col-md-offset-2 control-label">{{ permission_form.user.label }}</label>
        <div class="col-md-4">
            {{ permission_form.user }}
        </div>
        <label for="permission1" class="col-md-1 control-label"> {{ permission_form.permission.label}}</label>
        <div class="col-md-2">
            {{ permission_form.permission }}
        </div>
        {{ permission_form.id }}
        <div class="delete"> {{ permission_form.DELETE }} </div>
    </div>
    {% endfor %}


    <div class="col-md-1 col-md-offset-9 submit-button">
        <input class="btn btn-default" type="submit" value="Submit" />
    </div>
</form>


{% endblock %}